<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- saved from url=(0036)http://lead2.poly.asu.edu:8080//list -->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>index</title>

    <meta name="GENERATOR" content="Rational Software Architect">
</head>

<body>

    <br> Please the following information:


    <form action="/purchase" method="post">

        <table border="0">
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td><%=user.name%></td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td><input type="text" name="Quantity" size="4" maxlength="12" required></td>
                </tr>
                <tr>
                    <td>Books</td>
                    <td>
                    <select size=<%=books.length%> name="Books" multiple="multiple" required>

                    <% for(var i=0; i<books.length; i++) {%>
                        <option value=<%=books[i].id%>><%=books[i].name%></option>
                    <% } %>

					</select>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <input type="submit" name="SUBMIT">
        <br><a href="/logout">LOGOUT</a>
    </form>



</body>

</html>
